/* STYLE GUIDES 

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Green: hsl(75, 94%, 57%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 20%)
- Dark Grey: hsl(0, 0%, 12%)
- Off Black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 600, 700

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

.inline {
  display: inline-block;
}

.card {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  border-radius: 1rem;
}

.heading-primary {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.heading-secondary {
  font-size: 0.8rem;
  color: hsl(75, 94%, 57%);
  margin-top: 0.5rem;
}

.job-description {
  font-size: 0.8rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  width: 20rem;
  height: 2.8rem;
  margin-top: 1rem;
  background-color: hsl(0, 0%, 20%);
  text-decoration: none;
  border: none;
  color: hsl(0, 0%, 100%);
  border-radius: 0.4rem;
  transition: 0.2s ease-in-out;
}

.btn:active,
.btn:hover {
  background-color: hsl(0, 0%, 31%);
}

.profile-avatar-img {
  width: 6rem;
  border-radius: 50%;
}

@media (max-width: 420px) {
  .btn {
    width: 15rem;
  }
}
